*{
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    max-width: 1000px;
    
   
}
.header{
    padding: 20px;
    background-color: aquamarine;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#image_area{
    background-color: rgb(13, 83, 107);
    box-shadow: 10px 20px 30px rgb(85, 43, 43);
    padding-bottom: 15px;
}
#image_area img{
    background-color: dimgray;
 
    width: 40%;
  
    height: auto;
    border-bottom-left-radius:50PX ;
    border-top-right-radius:50PX ;
}
#row{
  background:url("img/01.jpg");
}
#bio{
    font-size: 25px;
    color: greenyellow;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#skill{
    color:white;
}
#work_area{
    padding:15px;
    background-color: white;
    box-shadow: 10px 20px 30px black;
}
#education_area{
    padding:15px;
    background-color: white;
    box-shadow: 10px 20px 30px black;
}
#footer{
    padding:20px;
    background-color: rgb(8, 27, 27);
}
#footer .f_lekha{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}